* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; }

#wrapper .home-section .fa-arrow-circle-down, #wrapper .about-section .fa-arrow-circle-down {
  position: absolute;
  padding: 20px 0;
  bottom: 0;
  left: 50%;
  font-size: 20px;
  cursor: pointer; }

#wrapper .home-section .fa-arrow-circle-down, #wrapper .about-section .fa-arrow-circle-down {
  position: absolute;
  padding: 20px 0;
  bottom: 0;
  left: 50%;
  font-size: 20px;
  cursor: pointer; }

#wrapper {
  display: flex;
  flex-direction: column; }
  #wrapper .home-section {
    color: #fff;
    position: relative;
    height: 100vh;
    background-image: url("../../Images/forest-dawn.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
    #wrapper .home-section .home-section-text {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      #wrapper .home-section .home-section-text h1 {
        font-size: 24px;
        padding-bottom: 50px; }
      #wrapper .home-section .home-section-text p {
        font-size: 20px;
        padding-bottom: 50px; }
    #wrapper .home-section .fa-arrow-circle-down {
      color: #fff;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
      -moz-transform: translate(-50%);
      transform: translate(-50%); }
  #wrapper .about-section {
    position: relative;
    padding-bottom: 20px; }
    #wrapper .about-section h1 {
      text-align: center;
      font-size: 24px;
      padding: 20px; }
    #wrapper .about-section .team-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap; }
      @media screen and (min-width: 768px) {
        #wrapper .about-section .team-container {
          flex-direction: row; } }
      #wrapper .about-section .team-container .team-members {
        padding: 20px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 100%;
        max-width: 100%; }
        @media screen and (min-width: 768px) {
          #wrapper .about-section .team-container .team-members {
            flex: 50%;
            max-width: 50%; } }
        #wrapper .about-section .team-container .team-members img {
          margin: 20px;
          width: 50%;
          border-radius: 50%;
          box-shadow: 0px -1px 20px 8px rgba(0, 0, 0, 0.2); }
        #wrapper .about-section .team-container .team-members .team-quotes {
          padding: 30px;
          margin-bottom: 20px;
          width: 80%;
          background-color: #dbdbdb;
          border-radius: 5px;
          font-size: 14px;
          font-weight: 400; }
          @media screen and (min-width: 768px) {
            #wrapper .about-section .team-container .team-members .team-quotes {
              width: 70%; } }
        #wrapper .about-section .team-container .team-members .fa-quote-right {
          font-size: 30px;
          margin-right: 5px; }
    #wrapper .about-section .fa-arrow-circle-down {
      color: black;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      -o-transform: translate(-50%);
      -moz-transform: translate(-50%);
      transform: translate(-50%); }

.navbar {
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  font-size: 20px;
  padding: 20px; }
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: flex-end;
      padding: 25px;
      align-items: center; } }
  .navbar #navbar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;
    opacity: 1;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 768px) {
      .navbar #navbar-toggle {
        display: none; } }
  .navbar #navbar-toggle span {
    display: block;
    margin: 2px;
    height: 4px;
    width: 28px;
    background-color: #fff;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out, opacity 0.3s;
    cursor: pointer; }
  .navbar #nav-menu:checked ~ #navbar-toggle span:nth-child(1) {
    -webkit-transform: rotate(135deg) translate(6px, -2px);
    -ms-transform: rotate(135deg) translate(6px, -2px);
    -o-transform: rotate(135deg) translate(6px, -2px);
    -moz-transform: rotate(135deg) translate(6px, -2px);
    transform: rotate(135deg) translate(6px, -2px); }
  .navbar #nav-menu:checked ~ #navbar-toggle span:nth-child(2) {
    opacity: 0; }
  .navbar #nav-menu:checked ~ #navbar-toggle span:nth-child(3) {
    -webkit-transform: rotate(-135deg) translate(8px, 6px);
    -ms-transform: rotate(-135deg) translate(8px, 6px);
    -o-transform: rotate(-135deg) translate(8px, 6px);
    -moz-transform: rotate(-135deg) translate(8px, 6px);
    transform: rotate(-135deg) translate(8px, 6px); }
  .navbar #nav-menu {
    display: none; }
  .navbar #nav-menu:checked ~ ul.main-nav {
    display: block; }
    @media screen and (min-width: 768px) {
      .navbar #nav-menu:checked ~ ul.main-nav {
        display: flex; } }
  .navbar .main-nav {
    list-style-type: none;
    display: none;
    padding-top: 20px; }
    @media screen and (min-width: 768px) {
      .navbar .main-nav {
        display: flex;
        margin-right: 15px;
        padding-top: 0;
        flex-direction: row;
        justify-content: flex-end; } }
    .navbar .main-nav li {
      text-align: center;
      margin: 5px auto; }
      @media screen and (min-width: 768px) {
        .navbar .main-nav li {
          margin: 0; } }
    .navbar .main-nav .nav-link-item {
      color: #fff;
      text-decoration: none; }
      @media screen and (min-width: 768px) {
        .navbar .main-nav .nav-link-item {
          margin-left: 40px; } }
      .navbar .main-nav .nav-link-item:hover {
        text-decoration: underline;
        cursor: pointer; }

.contact-section {
  color: #fff;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 60px; }
  @media screen and (min-width: 768px) {
    .contact-section {
      flex-direction: row;
      justify-content: space-around;
      padding: 20px 0; } }
  .contact-section .contact-item {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    padding: 20px;
    line-height: 1.8em; }
    @media screen and (min-width: 768px) {
      .contact-section .contact-item {
        font-size: 20px; } }
    .contact-section .contact-item ul {
      list-style-type: none; }
    .contact-section .contact-item a {
      color: #fff;
      text-decoration: none; }
      .contact-section .contact-item a:hover {
        text-decoration: underline;
        cursor: pointer; }
    .contact-section .contact-item [class^="fa"] {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 20px; }
