// Colors
$main-font-color: #fff;
$about-font-color: #555;
$about-bg-color: rgb(219, 219, 219);
$contact-bg-color: #000;
// Font sizes
$home-font-size: 20px;
$nav-font-size: 20px;
$about-font-size: 14px;
$contact-font-size: 22px;
$h1-font-size: 24px;
// Distances
$gutter-default: 20px;
$gutter-large: 50px;
$gutter-xl: 100px;
$teams-margin: 20px;
